#!/usr/bin/make -f


OUTDIR_LIB = $(CURDIR)/debian/libbearlibterminal/
OUTDIR_DEV = $(CURDIR)/debian/libbearlibterminal-dev/
CMAKECACHE = $(shell find -name CMakeCache.txt)
ifneq "$(CMAKECACHE)" ""
LIB_PLATFORM = $(shell awk -F= '/CMAKE_INSTALL_LIBDIR/ {print $$2}' "$(CMAKECACHE)")/
endif


override_dh_auto_install:
	mkdir -p $(OUTDIR_LIB)usr/$(LIB_PLATFORM) $(OUTDIR_LIB)usr/share/doc/libbearlibterminal/ $(OUTDIR_DEV)usr/include/
	cp $(dir $(CMAKECACHE))Terminal/libBearLibTerminal.so $(OUTDIR_LIB)usr/$(LIB_PLATFORM)
	cp Terminal/Include/C/BearLibTerminal.h $(OUTDIR_DEV)usr/include/
	cat README.md | gzip -n9 > $(OUTDIR_LIB)usr/share/doc/libbearlibterminal/README.md.gz

%:
	dh $@
